/* HTML5 CSS Reset http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,h1{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;font-size:100%;}
a{margin:0;padding:0;text-decoration:none;color:navy;font-weight:bolder;}
a:visited{color:navy;}

/* aydos chess book */
html, body {
    width: 100%;
    height: 100%;
}

body{
    font-family: Georgia, serif;
    background-color: #373D42;
    background-image: url("/img/back.png");
}

#menu {
    text-align: center;
    font-weight: bold;
    color: white;
}

#btnabout, #btnaydos{
    cursor: pointer;
}

#username {
    font-family: "Courier New";
    font-size:1.8em;
    color:#f0d9b5;
}

#usercnt, #gamecnt, #watchercnt {
    font-size:2.8em;
    line-height: 1.2em;
    color:#f0d9b5;
}

button{
    font-family: Georgia, serif;
    font-size: 24px;
    width: 60%;
    display block;
    margin-bottom: 12px;
    cursor: pointer;
    background-color: #f0d9b5;
}

h1 {
    line-height: 2em;
    font-size: 36pt;
    text-shadow: 2px 2px #b58863;
}

#game {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

#board {
    margin: 0 auto;
    padding: 0 auto;
}

.panel {
    box-sizing: border-box;
    border: solid 3px black;
    background: none repeat scroll 0 0 #eee;
    box-shadow: 0 0 10px #000;
    padding: 20px;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    height: 300px;
    margin-top: -150px;
    width: 600px;
    margin-left: -300px;
    z-index: 10;
}

.smallpanel {
    height: 160px;
    margin-top: -80px;
    width: 400px;
    margin-left: -200px;
}

.bigpanel {
    height: 500px;
    margin-top: -250px;
    width: 800px;
    margin-left: -400px;
}

.softpanel {
    background: rgba(200, 200, 200, 0.7);
}

#askplay {
    text-align: center;
}

#about{
    text-align: center;
}

#aydos{
    text-align: center;
}

#status{
    text-align: center;
}

#hider {
    box-sizing: border-box;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 6000px;
    height: 4000px;
    margin-left: -3000px;
    margin-top: -2000px;
    z-index: 9;
    background-color: black;
    display: none;
    opacity:0.36;
    filter:alpha(opacity=36);
    -moz-opacity:0.36;
}

#info {
    box-sizing: border-box;
    color: white;
    float:left;
    text-align: right;
    width: 200px;
    font-size: 8pt;
    font-weight: bold;
    padding-right: 12px;
    line-height: 1.6em;
}

#infoup {
    box-sizing: border-box;
    color: white;
    float:left;
    text-align: left;
    width: 200px;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 12px;
    line-height: 1.6em;
    min-height: 100%;
    position: relative;
    padding-bottom: 24px;
}

#infodown {
    position: absolute; 
    bottom: 0;
}

#board {
    float:left;
}

#turnup:before, #turndown:before {
    content: "\25CF";
    font-size: 36px;
    line-height: 1.2em;
}
#turnup:before {
    line-height: 0.8em;
}

.turnwhite {
    color: white;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.turnblack {
    color: black;
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}
